/* the basics */
html{
    -webkit-font-smoothing: anitaliased;
    height: 100%;
}
body{
	font-family: "Source Code Pro";
    font-weight: 300;
	padding: 0;
	margin: 0;
	height: 100%;
    background-color: #FFFFFF;
}
li, h1, h2, h3{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: italic;
}
#header a{
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    transition: color 0.4s;
}
#header a:hover{
    color: #EBFF33;
}
li{
	list-style: none;
    font-size: 1.5em;
}
li a{
    margin-right: 20px;
    float: right;
}
p{
    font-weight: 300;
    font-size: 1em;
    margin: 0 auto;
}
h1{
    font-size: 2.75em;
}
h2{
    font-size: 2em;
    margin: 0;
}
h3{
    font-size: 1.5em;
    margin: 0;
}
/* main divs */
#header{
	width: 100%;
	height: 45px;
	overflow: hidden;
	margin: 0;
	background-color: #FF606E;
    position: fixed;
    top: 0;
    z-index: 1;
}
#intro{
    margin: 0 auto;
    position: relative;
	min-height: 100vh;
    color: #FFFFFF;
    background-color: #262C3A;
}
    #intro h1{
        position: relative;
        top: 100px;
        margin: 0 auto;
        text-align: center;
    }
#works{
    width: 100%;
    margin: 0 auto;
    background-color: #58F8AB;
    text-align: center;
    padding-top: 45px; 
    margin-top: -45px;
    display: inline-block;
    vertical-align: top;
}
    #columns{
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap:40px; 
    -moz-column-gap:40px; 
    column-gap:40px;
    }
#skills{
    height: auto;
    min-height: 100% !important;
    width: 100%;
    background-color: #262C3A;
    text-align: center;
    color: #FFFFFF;
    display: block;
}

    #skills h1{
        position: relative;
        top: 100px;
        margin: 0 auto;
        text-align: center;
    }
    ul#dev{
        position: relative;
        top: 200px;
        position: inline;
    }
#about{
    width: 100%;
    background-color: #58F8AB;
    text-align: center;
    color: #000000;
    padding-top: 45px; 
    padding-bottom: 100px;
    margin-top: -45px;
    display: inline-block;
    vertical-align: top;
}
    #about p{
        max-width: 50%;
    }
#contact{
    margin: 0 auto;
    text-align: center;
    padding-top: 45px; 
    margin-top: -45px;
    width: 100%;
    min-height: 100vh;
    color: #FFFFFF;
    background-color: #262C3A;
}
/* details and items and such */
.content{
    position: relative; 
    margin: 0 auto;
    margin-bottom: 15px;
    width: 400px;
    background-color: #517398;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}
.content img{
    max-width: 100%;
    opacity: 0.5;
    transition: opacity 0.4s;
}
.content img:hover{
    opacity: 1;
}

/* contact links (work in progress) */
.links{
    text-align: center;
    font-size: 2em;
}
.links li{
	display: inline;
}
.links a{
    text-decoration: none;
    color: #EBFF33;
    margin: 0 auto;
    transition: color 0.4s
}   
.links a:hover{
    color: #FFFFFF;
}
.fa{
    margin: 0 auto;
    text-align: center;
	opacity: 0.4;	
    transition: opacity 0.4s;
}
.fa:hover{
	opacity: 1;
}

