/* the basics */
html{
    -webkit-font-smoothing: anitaliased;
    height: 100%;
}
body{
	font-family: "Open Sans";
    font-weight: 300;
	padding: 0;
	margin: 0;
	height: 100%;
    background-color: #FFFFFF;
}
li, h1, h2, h3{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: italic;
} 
@media (max-width: 480px){
    #contact h1, #contact h2, #contact p{
        font-size: 1.5em;
    }
}
#header a, #skills a{
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    transition: color 0.4s;
}
#header a:hover, #skills a:hover, nav a:hover{
    color: #EBFF33;
}
li{
	list-style: none;
    font-size: 2em;
}
li a{
    margin-right: 20px;
    float: right;
}
p{
    font-weight: 300;
    font-size: 1em;
    margin: 0 auto;
}
h1{
    font-size: 2.75em;
}
h2{
    font-size: 2em;
    margin: 0;
}
h3{
    font-size: 1.5em;
    margin: 0;
}
/* mobile nav */
nav{
    background-color: #FF606E;
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
@media (min-width: 565px){
    nav{
        display: none;
    }
    
}
nav a{
    color: #000000;
    transition: color 0.4s;
    display: block;
}
/* main divs */
#header{
	width: 100%;
	height: 45px;
	overflow: hidden;
	margin: 0;
	background-color: #FF606E;
    position: fixed;
    top: 0;
    z-index: 2;
}
@media (max-width: 565px;){
    #header{
        display: none;
    }
}
#intro{
    margin: 0 auto;
    position: relative;
	min-height: 100vh;
    color: #FFFFFF;
    background-color: #262C3A;
}
    #intro h1{
        position: relative;
        top: 100px;
        margin: 0 auto;
        text-align: center;
    }
#works{
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 45px; 
    margin-top: -45px;
    display: inline-block;
    vertical-align: top;
}
    #columns{
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap:40px; 
    -moz-column-gap:40px; 
    column-gap:40px;
    }
#skills{
    height: auto;
    min-height: 100% !important;
    width: 100%;
    background-color: #262C3A;
    text-align: center;
    color: #FFFFFF;
    display: block;
    padding-top: 45px; 
    margin-top: -45px;
    padding-bottom: 45px;
}

    #skills h1{
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    ul#dev{
        position: relative;
        position: inline;
    }
#about{
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000;
    padding-top: 45px; 
    padding-bottom: 100px;
    display: inline-block;
    vertical-align: top;
}
    #about p{
        max-width: 50%;
    }
#contact{
    margin: 0 auto;
    text-align: center;
    padding-top: 45px; 
    margin-top: -45px;
    width: 100%;
    min-height: 100vh;
    color: #FFFFFF;
    background-color: #262C3A;
}
#portfolio{
    height: auto;
    min-height: 100% !important;
    width: 100%;
    background-color: #262C3A;
    text-align: center;
    color: #FFFFFF;
    display: block;
    padding-top: 45px;
}  

#portfolio a{
    text-decoration: none;
    color: #EBFF33;
    margin: 0 auto;
    transition: color 0.4s
}   
#portfolio a:hover{
    color: #FFFFFF;
}
/* details and items and such */
.content{
    position: relative; 
    margin: 0 auto;
    margin-bottom: 15px;
    width: 400px;
    background-color: #00DDD8;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    min-height: 221px;
}
@media (min-width: 992px) and (max-width: 1214px){
    .content{
        margin-left: 10px;
        margin-right: 10px;
    }
}
.content img{
    max-width: 100%;
    opacity: 0.5;
    transition: opacity 0.4s;
    margin-top: 5px;
}
.content img:hover{
    opacity: 1;
}
#more{
    background-color: #FF606E;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    transition: background-color 0.4s, color 0.35s;
    margin-top: 15px;
    margin-bottom: 15px;
}
#more h3{
    text-decoration: none;
}
#more:hover{
    background-color: #EBFF33;
    color: #000000;
}

/* contact links (work in progress) */
.links{
    text-align: center;
    font-size: 2em;
}
.links li{
	display: inline;
}
.links a, #resume{
    text-decoration: none;
    color: #EBFF33;
    margin: 0 auto;
    transition: color 0.4s
}   
.links a:hover, #resume:hover{
    color: #FFFFFF;
}
.fa{
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
	opacity: 0.5;	
    transition: opacity 0.4s;
    color: #00DDD8;
}
.fa:hover{
	opacity: 1;
}

